@media (max-width: 768px) {
  .Toastify__toast {
    width: 100% !important;
    max-width: 320px !important;
    margin: 1rem auto !important;
    padding: 10px 12px !important;
    padding-right: 25px !important;
    font-size: 1.1rem !important;
    min-height: auto !important;
    border-radius: 8px !important;
  }

  .Toastify__toast-body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .Toastify__close-button {
    width: 20px !important;
    height: 20px !important;
    top: 8px;
    right: 3px;
  }
}